.root{
    display: flex;
    gap:5rem;
    padding:5% 5% 5% 10%;
    background-image: url("to-do-list-wood-background.webp");
    background-size: contain;
    min-width: 100vw;
    max-height: 100vh;
    background-blend-mode: normal;
}

.container{
    width:300px;
    min-height:500px;
    max-height: auto;
    background-color:#f7f8f9;
    border-radius: 2%;
   
}
#message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3%;
    text-align: center;
    z-index: 1000; /* Ensures the message is above other elements */
    display: block; /* Initially shown */
}
h3{
   text-align: center;
   color:#616f86;
}
.create-button{
    width: 100%;
    display: flex;
    gap: 0.25rem;
    border: none;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    color: #18284d;
    font-size: 15px;
    font-weight: 250px;
    padding:0.25rem;
    border-radius: 1rem;
}
.create-button:hover{
    background-color: rgb(142, 138, 138,0.25);
}
.container.focused{
    border:2px solid #7fa2a9;  
    transition-duration: 0.15s;  
    scale: 1.01; 
}
.issue-input{
    padding:10px 10px 50px;
    border: #18284d;
    outline: #18284d;
    width: 92%;
    resize: none;
    border-radius: 5px;
}
.issue-input:focus{
    outline: 2px solid #388bff;
    
}
.hide{
    display: none;
}
.active{
    display: block;
}
.cards-container{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cards-container .cards{
    border:1px solid rgb(217, 168, 168);
    padding: 20px 10px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 5px 8px 1px #616f86;
}

.strike-through { 
    text-decoration: line-through;
}
@media (max-width: 900px) {
    #ok-button{
        display: none;
    }
    #message{
        opacity: 0.7;
    }
    body{
        background-image: url(Browser-Unsupportive.png);
        background-repeat: no-repeat;
        background-size: 100vw 100vh;
        opacity: 0.7;
    }
    .root{
        display: none;
    }
  }
  
